.st{
    background-color: #ead1dc;
    text-align: center;
}
.hw{
    background-color: #fff2cc;
    text-align: center;
}
.bn{
    background-color: #d9ead3;
    text-align: center;
}
.kp{
    background-color: #cfe2f3;
    text-align: center;
}
.up{
    background-color: #ead1dc;
    text-align: center;
}
#st{
    color: #eba862;
}
.c1{
    background-color: #d9ead3;
    text-align: center;
}
.zero{
    background-color: #f4cccc;
    text-align: center;
}
.zer{
    background-color: #ff00ff;
    text-align: center;
}
.point{
    background-color: #d9ead3;
    text-align: center;
}
.no{
    background-color: #f4cccc;
    text-align: center;
}
.yes{
    text-align: center;
    background-color: #b7e1cd;
}
.red{
    color: #d21e1e;
    text-align: center;
}
.else{
    text-align: center;
}